@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap');

.heading{
    font-family: 'Alumni Sans Inline One', cursive;
    display: block;
    font-size: 36px;
}

.App{
    text-align: center;
}